.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# Temporary directories for skill processing
.temp/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
